@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel-header panel-header-sm">
</div>

<div class="content">
    <div class="col-lg-5">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Library charts</h5>

            </div>

            <div class="card-body">
                <p>TODO: add charts</p>
                <div>
                    <canvas id="bookChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
