@page
@model Projekt1.Pages.RegisterModel
@{
}

<h2>Rejestracja</h2>

<form method="post">
    <div>
        <label>Imię:</label>
        <input type="text" asp-for="UserInput.Name" />
        <span asp-validation-for="UserInput.Name" class="text-danger"></span>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" asp-for="UserInput.Email" />
        <span asp-validation-for="UserInput.Email" class="text-danger"></span>
    </div>
    <div>
        <label>Hasło:</label>
        <input type="password" asp-for="UserInput.Password" />
        <span asp-validation-for="UserInput.Password" class="text-danger"></span>
    </div>
    <button type="submit">Zarejestruj się</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

