@model TaskModel

<div class="content">
    <div class="col-lg-5">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">Create new task</h3>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Task" method="post">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" style="color:red;"></span>
                    </div>
                    <input asp-for="done" type="hidden" value="false" />

                    <button type="submit" class="btn btn-info">
                        <i class="now-ui-icons ui-1_check"></i> Create
                    </button>
                </form>



                <div>
                    <a asp-action="Index" class="btn btn-info btn-outline-info">
                        <i class="now-ui-icons ui-1_simple-remove"></i> Back to list
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>